<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anne.respersystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/resper_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/resper_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditarReserva"></activity>
        <activity android:name=".Welcome" />
        <activity android:name=".EventosPorDia" />
        <activity android:name=".InserirSala" />
        <activity android:name=".LoginFuncionario" />
        <activity android:name=".CadastroFuncionario" />
        <activity android:name=".AreaFuncionario" />
        <activity android:name=".ReservarSala" />
        <activity
            android:name=".AreaDiscente"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FuncionarioConectado"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>